<div class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <%= gravatar_image_tag(@tweeet.user.email, size: 64, alt: @tweeet.user.name) %>
              </figure>
            </div>

            <div class="media-content">
              <div class="content">
                <strong><%= @tweeet.user.name %></strong>
                <small>@<%= @tweeet.user.username %></small>
                <p><%= @tweeet.tweeet %></p>
              </div>
            </div>
          </article>
        </div>

        <div class="field">
          <div class="control">
            <%= link_to 'Edit', edit_tweeet_path(@tweeet), class: "button is-info" %>
            <%= link_to 'Back', tweeets_path, class: "button is-info" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


